body{
    display: grid;

    width: 100%;
    height: 100vh;

    margin: auto;

    background-color: hsl(212, 45%, 89%);
}

.contander{
    text-align: center;
    margin: auto;

    width: 12.5rem;

    padding: 0.45rem 0.25rem 0.45rem 0.25rem;
    
    border-radius: 0.45rem;

    background-color: Hsl(0, 0%, 100%);

}

img{
    width: 11.875rem;

    border-radius: 0.35rem;
}

.paragraph{
    font-family: outfit;

    font-weight:700 ;
    font-size: 15px; 

    color: hsl(218, 44%, 22%);
}

.description{
    font-family: outfit;

    font-weight:400;
    font-size: 11px;

    color: hsl(220, 15%, 55%);
}


